<section class="forms">
  <div class="container-fluid">
    <header> 
      <% if @call_mode %>
        <h1 class="h3 display">Next Lead: <%= @lead.full_name %></h1>
      <% else %>
        <h1 class="h3 display">Edit Lead</h1>
      <% end %>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <h2 class="h5 display">Dial</h2>
          </div>

          <div id="controls">
            <div id="info" style="display:none">
              <p class="instructions">Twilio Client</p>
              <div id="client-name"></div>
            </div>
            <div id="call-controls">
              <input id="phone-number" type="text" value="<%= @lead.phone %>" class="form-control"/>
              <button id="button-call" class="btn btn-primary">Call</button>
              <button id="button-hangup" class="btn btn-danger">Hangup</button>
            </div>
            <div id="log"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">

          <div class="card-header d-flex align-items-center">
            <h2 class="h5 display">Send Text Message</h2>
          </div>

          <%= form_tag "/text", {class: "form-horizontal"} do %>
            <div class="form-group row">
              <%= label_tag :phone, "Phone", {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= text_field_tag :phone, @lead.phone, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= label_tag :body, "Text Body", {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= text_area_tag :body, nil, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-2">
                <%= submit_tag "Text", {class: "form-control btn btn-info"} %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">

          <div class="card-header d-flex align-items-center">
            <h2 class="h5 display">History</h2>
          </div>
          <div class="card-block">
            <p>First Became A Lead At: <%= @lead.created_at.strftime("%A %b %e, %l:%M %p") %></p>
            <p>Number Of Times We Called Them: <%= @lead.number_of_dials %></p>

            <div class="row">
              <table class="table">
                <% @lead.events.each do |event| %>
                  <tr><td><%= event.name %></td><td><%= event.created_at.strftime("%A %b %e, %l:%M %p") %></td></tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <div class="card">

          <%= form_for @lead, {class: "form-horizontal"} do |f| %>
            <div class="form-group row">
              <div class="card-header d-flex align-items-center">
                <h2 class="h5 display">Personal Info</h2>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :first_name, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :first_name, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :last_name, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :last_name, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :email, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :email, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :phone, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :phone, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :city, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :city, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :state, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :state, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :zip, {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_field :zip, {class: "form-control form-control-warning"} %>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <div class="card-header d-flex align-items-center">
                <h2 class="h5 display">Setting Up Their Appointment</h2>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :location, "Which location do they want to join?", {class: "col-sm-2 form-control-label" } %>
              <div class="col-sm-10 select">
                <%= f.select(:location, options_for_select([['Chicago'], ['New York City'], ['San Francisco']], @lead.location), {:include_blank => 'Select Location'}, {class: 'form-control'}) %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :advisor, "Advisor", {class: "col-sm-2 form-control-label"} %>
              <div class="col-sm-10 select">
                <%= f.select(:advisor, options_for_select([['Nick'], ['Ray'], ['Zev']], @lead.advisor), {:include_blank => 'Select Advisor'}, {class: 'form-control'}) %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :appointment_date, "Appointment Date", {class: "col-sm-2 form-control-label"} %>
              <div class="col-sm-10 select">
                <%= f.datetime_field :appointment_date, {class: 'form-control'} %>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <div class="card-header d-flex align-items-center">
                <h2 class="h5 display">Post-Call Records</h2>
              </div>
            </div>
            <% if !@call_mode %>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :contacted, "Dialed?" %>
                    <%= f.check_box :contacted %>
                  </div>
                </div>
              </div>
            <% end %>          
            <div class="form-group row">
              <div class="col-sm-10">
                <div class="i-checks">
                  <%= f.label :connected, "Connected?" %>
                  <%= f.check_box :connected %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <div class="i-checks">
                  <%= f.label :bad_number, "Bad Number?" %>
                  <%= f.check_box :bad_number %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <div class="i-checks">
                  <%= f.label :exclude_from_calling, "Never call again" %>
                  <%= f.check_box :exclude_from_calling %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :notes, "Call Converter Notes", {class: 'col-sm-2'} %>
              <div class="col-sm-10">
                <%= f.text_area :notes, {class: 'form-control'} %>
              </div>
            </div>
            <% if @call_mode %>
              <div>
                <%= f.hidden_field :call_mode, value: true %>
              </div>
            <% else %>
              <div class="form-group row">
                <div class="card-header d-flex align-items-center">
                  <h2 class="h5 display">Admissions Advisor Records</h2>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :first_appointment_set, "First Appointment Set" %>
                    <%= f.date_field :first_appointment_set %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :first_appointment_actual, "First Appointment Actually Took Place On" %>
                    <%= f.date_field :first_appointment_actual %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :first_appointment_format, "First Appointment Format" %>
                    <%= f.select(:first_appointment_format, options_for_select([['Face To Face'], ['Video'], ['Phone']], @lead.first_appointment_format), {:include_blank => 'Select Format'}, {class: 'form-control'}) %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :second_appointment_set, "Second Appointment Set" %>
                    <%= f.date_field :second_appointment_set %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :second_appointment_actual, "Second Appointment Actually Took Place On" %>
                    <%= f.date_field :second_appointment_actual %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :second_appointment_format, "Second Appointment Format" %>
                    <%= f.select(:second_appointment_format, options_for_select([['Face To Face'], ['Video'], ['Phone']], @lead.first_appointment_format), {:include_blank => 'Select Format'}, {class: 'form-control'}) %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :enrolled_date, "Enrolled Date" %>
                    <%= f.date_field :enrolled_date %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :deposit_date, "Deposit Date" %>
                    <%= f.date_field :deposit_date %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :sales, "Sales" %>
                    <%= f.text_field :sales %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :collected, "Collected" %>
                    <%= f.text_field :collected %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :status, "Status" %>
                    <%= f.select(:status, options_for_select([['In Progress'], ['Enrolled'], ['Stalled']], @lead.status), {:include_blank => 'Select Format'}, {class: 'form-control'}) %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :next_step, "Next Step" %>
                    <%= f.text_field :next_step %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="i-checks">
                    <%= f.label :rep_notes, "Admission Advisor Notes" %>
                    <%= f.text_area :rep_notes %>
                  </div>
                </div>
              </div>
            <% end %>
            <div>
              <%= f.submit :next, {value: @call_mode ? "Process and Move On to Next Lead" : "Update"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</section>


<script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
  $(function () {
  // log('Requesting Capability Token...');
  $.getJSON('/token')
    .done(function (data) {
      // log('Got a token.');
      // console.log('Token: ' + data.token);

      // Setup Twilio.Device
      Twilio.Device.setup(data.token);

      Twilio.Device.ready(function (device) {
        // log('Twilio.Device Ready!');
        document.getElementById('call-controls').style.display = 'block';
      });

      Twilio.Device.error(function (error) {
        // log('Twilio.Device Error: ' + error.message);
      });

      Twilio.Device.connect(function (conn) {
        // log('Successfully established call!');
        document.getElementById('button-call').style.display = 'none';
        document.getElementById('button-hangup').style.display = 'inline';
      });

      Twilio.Device.disconnect(function (conn) {
        log('Call ended.');
        document.getElementById('button-call').style.display = 'inline';
        document.getElementById('button-hangup').style.display = 'none';
      });

      Twilio.Device.incoming(function (conn) {
        log('Incoming connection from ' + conn.parameters.From);
        var archEnemyPhoneNumber = '+12099517118';

        if (conn.parameters.From === archEnemyPhoneNumber) {
          conn.reject();
          log('It\'s your nemesis. Rejected call.');
        } else {
          // accept the incoming connection and start two-way audio
          conn.accept();
        }
      });

      setClientNameUI(data.identity);
    })
    .fail(function () {
      log('Could not get a token from server!');
    });

  // Bind button to make call
  document.getElementById('button-call').onclick = function () {
    // get the phone number to connect the call to
    var params = {
      To: document.getElementById('phone-number').value
    };

    console.log('Calling ' + params.To + '...');
    Twilio.Device.connect(params);
  };

  // Bind button to hangup call
  document.getElementById('button-hangup').onclick = function () {
    // log('Hanging up...');
    Twilio.Device.disconnectAll();
  };

});

// Activity log
function log(message) {
  var logDiv = document.getElementById('log');
  logDiv.innerHTML += '<p>&gt;&nbsp;' + message + '</p>';
  logDiv.scrollTop = logDiv.scrollHeight;
}

// Set the client name in the UI
function setClientNameUI(clientName) {
  var div = document.getElementById('client-name');
  div.innerHTML = 'Your client name: <strong>' + clientName +
    '</strong>';
}


</script>



